<html ng-app="mql" ng-cloak>
    <head>
        <title>BeeTree</title>
        
        <link rel="stylesheet" href="css/styles.min.css">
        
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
        <style>
            
        </style>
    </head>
    <body ng-controller="mainCtrl">
        <div id='cssmenu' ng-include="'views/_menu.html'">
            
        </div>
        <div id="content" >
            <div class="databaseList" ng-include="'views/_dbList.html'"></div>
            <div class="queryTabs">
                <div class="tabmenu">
                    <ul >
                        <s ng-repeat="item in tabs">
                        <li ng-if="item.active == 1" class="active animated pulse" ng-bind-html="to_trusted(item.display)"></li>
                        <li ng-if="item.active == 0"  ng-click="clearTabs(item.name);" ng-bind-html="to_trusted(item.display)"></li>
                        </s>
                    </ul>
                </div>
                <div class="tabData" id="tabData">
                    <div ng-repeat="item in tabs" ng-show="tabIndex == item.name"  ng-include="item.view">
                        
                    </div>
                </div>
                
            </div>
            <div class="footer">
                    Content of footer
            </div>
        </div>
    </body>
    
    <script src="js/extract.min.js"></script>
    <script src="js/main.min.js"></script>
</html>